<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExtension</key>
    <string>docc</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>org.swift.docc</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.swift.docc</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>MandArt</string> <!-- MandArt.md as main page -->
</dict>
</plist>
